<a href="https://colab.research.google.com/github/nmr123tech/nhr_Certifications/blob/main/Bank_Fraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# loading the dataset to a pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [ ]:
# first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
73372,55105,1.104021,-1.123835,1.008939,-0.460960,-1.502758,0.021138,-1.055043,0.095135,-0.175413,...,0.405906,1.054006,-0.174455,0.155852,0.358077,-0.030114,0.048490,0.042121,119.00,0.0
73373,55105,1.182898,-0.283273,1.123494,0.066948,-1.283276,-0.900451,-0.441870,-0.150647,0.784691,...,0.082278,0.491790,-0.025468,1.078368,0.258355,1.415871,-0.060454,0.014606,22.71,0.0
73374,55106,1.168124,-0.122507,1.251822,0.860341,-1.020137,-0.277310,-0.557856,0.023732,0.802378,...,-0.077921,-0.005984,0.014309,0.452036,0.281031,0.313100,0.020995,0.030389,16.35,0.0
73375,55106,-0.339385,-2.095670,0.271543,-3.066469,0.484794,3.870704,-2.069399,0.184347,-1.615958,...,0.964115,-0.266112,-0.993763,1.033766,0.748706,-0.116168,0.153607,0.268881,322.34,0.0
73376,55107,-1.020407,0.160171,0.152264,-0.093406,-0.978017,0.074549,1.610152,0.117407,-0.948643,...,0.109380,-0.400171,0.835422,-0.428141,-0.464220,NaN,NaN,NaN,NaN,NaN

In [ ]:
# dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73377 entries, 0 to 73376
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    73377 non-null  int64
 1   V1      73377 non-null  float64
 2   V2      73377 non-null  float64
 3   V3      73377 non-null  float64
 4   V4      73377 non-null  float64
 5   V5      73377 non-null  float64
 6   V6      73377 non-null  float64
 7   V7      73377 non-null  float64
 8   V8      73377 non-null  float64
 9   V9      73377 non-null  float64
 10  V10     73377 non-null  float64
 11  V11     73377 non-null  float64
 12  V12     73377 non-null  float64
 13  V13     73377 non-null  float64
 14  V14     73377 non-null  float64
 15  V15     73377 non-null  float64
 16  V16     73377 non-null  float64
 17  V17     73377 non-null  float64
 18  V18     73377 non-null  float64
 19  V19     73377 non-null  float64
 20  V20     73377 non-null  float64
 21  V21     73377 non-null  float64
 22  V22     73377 non-null  float64
 23  V23     73377 non-null  float64
 24  V24     73377 non-null  float64
 25  V25     73377 non-null  float64
 26  V26     73376 non-null  float64
 27  V27     73376 non-null  float64
 28  V28     73376 non-null  float64
 29  Amount  73376 non-null  float64
 30  Class   73376 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 17.4 MB

In [ ]:
# checking the number of missing values in each coloumn
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
# distribution of lagit transactions and fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    73198
1.0      178
Name: Class, dtype: int64

this data is highly imbalanced

0 = normal transaction

1 = fraudulent transaction

In [ ]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [ ]:
print (legit.shape)
print (fraud.shape)

(73198, 31)
(178, 31)

In [ ]:
# statistical measures of the data
legit.Amount.describe()

count    73198.000000
mean        97.324727
std        270.324183
min          0.000000
25%          7.680000
50%         26.675000
75%         88.947500
max      19656.530000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe ()

count     178.000000
mean       95.191461
std       218.660540
min         0.000000
25%         1.000000
50%         7.595000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,35597.170893,-0.237300,-0.038920,0.702672,0.155577,-0.260766,0.103663,-0.096812,0.047751,0.017704,...,0.044057,-0.030721,-0.106049,-0.038141,0.006549,0.135145,0.023827,0.000959,0.002925,97.324727
1.0,30706.921348,-6.783789,4.890766,-9.107666,5.286608,-5.047343,-2.085865,-7.104280,3.332048,-3.159344,...,0.420153,0.813143,-0.191093,-0.236559,-0.071391,0.249935,0.106447,0.567944,0.044848,95.191461

build a sample dataset containing similar distributions of normal transactions and fraudulent transactions

number of fraudulent transactions=492

In [ ]:
legit_sample = legit.sample (n=492)

concatenating two dataframes

In [ ]:
new_dataset = pd.concat([legit_sample, fraud],axis=0)

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
71219,54212,-2.001850,0.428443,0.903929,-0.214331,-0.134220,-0.555604,-0.122896,0.121556,0.088052,...,-0.143430,-0.008985,-0.111116,0.106148,-0.607743,0.935602,-0.258935,-0.051014,19.71,0.0
59351,48804,-1.544423,1.017319,0.420656,1.024278,-0.046795,-0.828945,-0.011885,0.656100,-1.012395,...,0.257691,0.322179,-0.278867,0.069980,0.041430,-0.292927,-0.224646,-0.085278,17.71,0.0
33963,37455,-0.373947,1.137653,0.303088,1.142335,0.318012,0.331447,0.222541,0.215863,0.269774,...,-0.008139,0.492025,0.069464,-0.289176,-0.780509,-0.381761,0.543234,0.273108,1.00,0.0
68404,52978,1.143589,-0.847333,0.456730,-0.814882,-0.816739,0.240972,-0.765175,0.253008,-0.940481,...,0.044403,-0.142030,0.130297,-0.314516,0.007722,-0.443401,0.022878,0.016232,76.95,0.0
859,651,-1.019264,1.099495,1.444093,-0.631522,0.132875,-0.395445,0.588347,0.196130,-0.250792,...,-0.123260,-0.326892,0.069919,0.180392,-0.521850,-0.092170,0.299794,0.260921,4.99,0.0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
69498,53451,0.385108,1.217620,-1.953872,2.087076,-1.144225,-0.576888,-2.582865,0.643230,-1.191233,...,0.594623,0.372144,-0.310456,-0.624065,0.840216,-0.159452,0.599482,0.288916,8.00,1.0
69980,53658,-1.739341,1.344521,-0.534379,3.195291,-0.416196,-1.261961,-2.340991,0.713004,-1.416265,...,0.383180,-0.213952,-0.336640,0.237076,0.246003,-0.044228,0.510729,0.220952,0.00,1.0
70141,53727,-1.649279,1.263974,-1.050826,2.237991,-2.527889,-0.889940,-2.355254,0.854659,-1.281243,...,0.679176,0.731907,0.333045,0.392505,-0.274197,0.802349,0.390809,0.112146,112.45,1.0
70589,53937,-2.042608,1.573578,-2.372652,-0.572676,-2.097353,-0.174142,-3.039520,-1.634233,-0.594809,...,-0.723326,0.501222,-0.696892,-0.600514,0.127547,-0.786072,0.606097,0.171697,261.87,1.0
72757,54846,-2.986466,-0.000891,0.605887,0.338338,0.685448,-1.581954,0.504206,-0.233403,0.636768,...,-0.875146,-0.509849,1.313918,0.355065,0.448552,0.193490,1.214588,-0.013923,1.79,1.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    492
1.0    178
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,35983.089431,-0.212163,-0.004053,0.668688,0.237166,-0.290347,0.083439,-0.086651,0.107436,0.020857,...,0.055046,-0.020176,-0.063208,-0.032160,-0.013749,0.153761,0.015830,-0.020009,0.017084,95.478476
1.0,30706.921348,-6.783789,4.890766,-9.107666,5.286608,-5.047343,-2.085865,-7.104280,3.332048,-3.159344,...,0.420153,0.813143,-0.191093,-0.236559,-0.071391,0.249935,0.106447,0.567944,0.044848,95.191461

splitting the data into features and targets

In [ ]:
X = new_dataset.drop(columns='Class',axis=1)
Y = new_dataset['Class']

In [ ]:
print(X)

        Time        V1        V2        V3        V4        V5        V6  \
71219  54212 -2.001850  0.428443  0.903929 -0.214331 -0.134220 -0.555604
59351  48804 -1.544423  1.017319  0.420656  1.024278 -0.046795 -0.828945
33963  37455 -0.373947  1.137653  0.303088  1.142335  0.318012  0.331447
68404  52978  1.143589 -0.847333  0.456730 -0.814882 -0.816739  0.240972
859      651 -1.019264  1.099495  1.444093 -0.631522  0.132875 -0.395445
...      ...       ...       ...       ...       ...       ...       ...
69498  53451  0.385108  1.217620 -1.953872  2.087076 -1.144225 -0.576888
69980  53658 -1.739341  1.344521 -0.534379  3.195291 -0.416196 -1.261961
70141  53727 -1.649279  1.263974 -1.050826  2.237991 -2.527889 -0.889940
70589  53937 -2.042608  1.573578 -2.372652 -0.572676 -2.097353 -0.174142
72757  54846 -2.986466 -0.000891  0.605887  0.338338  0.685448 -1.581954

             V7        V8        V9  ...       V20       V21       V22  \
71219 -0.122896  0.121556  0.088052  ... -0.043895 -0.143430 -0.008985
59351 -0.011885  0.656100 -1.012395  ... -0.040888  0.257691  0.322179
33963  0.222541  0.215863  0.269774  ...  0.263920 -0.008139  0.492025
68404 -0.765175  0.253008 -0.940481  ...  0.111984  0.044403 -0.142030
859    0.588347  0.196130 -0.250792  ...  0.049700 -0.123260 -0.326892
...         ...       ...       ...  ...       ...       ...       ...
69498 -2.582865  0.643230 -1.191233  ...  0.380545  0.594623  0.372144
69980 -2.340991  0.713004 -1.416265  ...  0.002749  0.383180 -0.213952
70141 -2.355254  0.854659 -1.281243  ...  0.087406  0.679176  0.731907
70589 -3.039520 -1.634233 -0.594809  ...  0.825566 -0.723326  0.501222
72757  0.504206 -0.233403  0.636768  ... -0.764274 -0.875146 -0.509849

            V23       V24       V25       V26       V27       V28  Amount
71219 -0.111116  0.106148 -0.607743  0.935602 -0.258935 -0.051014   19.71
59351 -0.278867  0.069980  0.041430 -0.292927 -0.224646 -0.085278   17.71
33963  0.069464 -0.289176 -0.780509 -0.381761  0.543234  0.273108    1.00
68404  0.130297 -0.314516  0.007722 -0.443401  0.022878  0.016232   76.95
859    0.069919  0.180392 -0.521850 -0.092170  0.299794  0.260921    4.99
...         ...       ...       ...       ...       ...       ...     ...
69498 -0.310456 -0.624065  0.840216 -0.159452  0.599482  0.288916    8.00
69980 -0.336640  0.237076  0.246003 -0.044228  0.510729  0.220952    0.00
70141  0.333045  0.392505 -0.274197  0.802349  0.390809  0.112146  112.45
70589 -0.696892 -0.600514  0.127547 -0.786072  0.606097  0.171697  261.87
72757  1.313918  0.355065  0.448552  0.193490  1.214588 -0.013923    1.79

[670 rows x 30 columns]

In [ ]:
print(Y)

71219    0.0
59351    0.0
33963    0.0
68404    0.0
859      0.0
        ...
69498    1.0
69980    1.0
70141    1.0
70589    1.0
72757    1.0
Name: Class, Length: 670, dtype: float64

split the data into training data and texting data

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(670, 30) (536, 30) (134, 30)

model training

logistic regression

In [ ]:
model = LogisticRegression()

In [ ]:
# training the logistic regression model with training data
model.fit(X_train, Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

model evaluation

accuracy score

In [ ]:
# accuracy on trainimg data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy on Training data:',training_data_accuracy)

Accuracy on Training data: 0.9757462686567164

In [ ]:
# accuracy on test data
X_test_prediction =model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy score on Test Data:',test_data_accuracy)

Accuracy score on Test Data: 0.9552238805970149